# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/
*.egg-info/
.eggs/
dist/
build/

# Airflow
airflow-into/logs/
airflow-into/plugins/
*.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
*.env.local
